.dnd-content,
.drag,
.resizable {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dnd-content img {
  width: 100%;
  height: 100%;
}
.resizable,
.drag.higher-level {
  cursor: move;
}
.dnd-content .RichEditor-editor {
  box-shadow: none;
}
.drag .subject h1 {
  margin: 0;
  padding: 15px;
}
