.four-o-four .fly-in {
  font-weight: 800;
  font-size: 3.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.four-o-four .fly-in .fly-in-text {
  display: inline-block;
  line-height: 1em;
}
