.auth {
  animation: fadein 1.5s;
  padding-top: 50px;
}
.auth .bp3-card {
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
}
.auth .bp3-card h4 {
  padding: 16px 0;
  text-align: center;
}
.auth .card-body {
  padding: 24px;
}
.auth .card-body button {
  width: 100%;
}
.auth .below-form {
  text-align: center;
  padding-top: 20px;
}
.auth .social-media-login {
  margin-bottom: 15px;
}
.auth .social-media-login:hover {
  filter: brightness(97%);
}
/* This is something strange created by the library I am using */
.auth .social-media-login div:first-child {
  background: none !important;
}
@media (min-width: 768px) {
  .auth .bp3-card {
    max-width: 331px;
    width: calc(100% - 66px);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
