.ql-toolbar .ql-active svg {
  pointer-events: none;
}
.ql-editor {
  min-width: 32px;
  /* Turns div into span-like property */
  width: -moz-fit-content;
  width: fit-content;
  block-size: fit-content;
  margin: auto;
}

.ql-container.ql-disabled .ql-tooltip {
  display: none;
}