.ql-toolbar .ql-active svg {
  pointer-events: none;
}
.ql-editor {
  min-width: 32px;
  /* Turns div into span-like property */
  width: -moz-fit-content;
  width: fit-content;
  block-size: fit-content;
  margin: auto;
}
.ql-container.ql-disabled .ql-tooltip {
  display: none;
}
.bp3-portal .ql-disabled * {
  cursor: pointer;
}
.bp3-portal .help .ql-disabled * {
  cursor: inherit;
}
.bp3-portal .help .ql-editor {
  min-width: auto;
  width: auto;
  block-size: inherit;
}
.bp3-menu .ql-disabled * {
  cursor: auto;
}