.new-subject-form {
  padding-top: 50px;
}
.new-subject-form p {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .new-subject-form .bp3-card {
    max-width: 500px;
    width: calc(100% - 66px);
  }
}
