header.horizontal-nav {
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  padding-left: 0;
  padding-right: 0;
  height: 60px;
}
.horizontal-nav .bp3-navbar {
  display: grid;
  gap: 0 15px;
  grid-template-columns: 2fr 6fr;
}
.horizontal-nav .bp3-navbar-group {
  float: none;
  justify-content: space-between;
}
.horizontal-nav .bp3-navbar-group.right-group {
  justify-content: space-evenly;
}
.horizontal-nav .bp3-navbar-heading .bp3-icon {
  margin-right: 10px;
}
.horizontal-nav .bp3-divider {
  height: 60px;
}
.horizontal-nav .menu-col {
  display: flex;
  align-items: center;
}
.horizontal-nav .menu-col:before {
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.horizontal-nav .ant-select-auto-complete {
  margin-left: 20px;
}
.horizontal-nav .search-box .label {
  display: flex;
  justify-content: space-between;
}
.create-subject {
  text-align: center;
  font-size: 20px;
  padding: 15px;
}
.create-subject p {
  margin-bottom: 1rem;
}