.landing {
  min-height: 100vh;
}
.landing .bp3-navbar {
  height: 60px;
  display: flex;
  align-items: center;
}
.landing .bp3-navbar img {
  height: 50px;
  margin-right: 10px;
}
.landing .bp3-card {
  width: 500px;
  margin: 50px auto;
  text-align: center;
}
.landing .bp3-card button {
  margin-left: 10px;
  margin-right: 10px;
}
