.horizontal-nav-search {
  max-width: 300px;
  width: 300px;
}
.horizontal-nav-search .bp3-input {
  width: 300px;
}
.horizontal-nav-search input {
}
.horizontal-nav-search-popover .bp3-popover-content {
  max-width: 300px;
}
.horizontal-nav-search-popover .text {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.horizontal-nav-search-popover .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.horizontal-nav-search-popover .type {
  display: flex;
}
.horizontal-nav-search-popover .bp3-divider {
  margin-right: 15px;
  margin-left: 15px;
}
.horizontal-nav-search-popover .bp3-menu {
  max-height: 500px;
  min-width: 300px;
  overflow-y: scroll;
}
.horizontal-nav-search-popover .bp3-menu-item-label {
  width: 100%;
}
.horizontal-nav-search-popover .bp3-text-overflow-ellipsis {
  display: none;
}
.horizontal-nav-search-popover .bp3-disabled .bp3-text-overflow-ellipsis {
  display: block;
}
