.drag-container {
  width: 100%;
}
.drag {
  overflow: hidden;
}
.drag .dnd-box {
  display: table;
  height: 100%;
  width: 100%;
}
.drag .dnd-box > * {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
}
.dnd-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.resizable {
  cursor: move;
  padding: 0;
}
.drag .subject h1 {
  margin: 0;
  padding: 15px;
}
.dnd-box,
div.dnd-box * {
  cursor: move;
}
.dnd-settings-target {
  float: right;
}
.dnd-settings {
  padding: 10px;
}
.dnd-settings .bp3-switch {
  margin-bottom: 0;
}
.dnd-settings :first-child {
  margin-bottom: 10px;
}
