header.horizontal-nav {
  box-shadow: 0 2px 8px #f0f1f2;
  padding-left: 0;
  padding-right: 0;
  height: 60px;
}
.horizontal-nav .bp3-navbar {
  display: flex;
}
.right-group > * {
  margin-left: 10px;
  margin-right: 10px;
}
.bp3-navbar-heading {
  width: 100%;
}
.change-subject .subject:not(.bp3-active) * {
  cursor: pointer;
}
.subject-buttons {
  display: flex;
  flex-direction: column;
}
.subject-buttons .bp3-popover2-target button {
  width: 100%;
}
.confusion {
  text-align: center;
  margin: 15px;
}