.vertical-nav {
  -webkit-transition: background-color 0.1s cubic-bezier(0.4, 1, 0.75, 0.9);
  transition: background-color 0.1s cubic-bezier(0.4, 1, 0.75, 0.9);
  -webkit-box-shadow: 1px 0 0 rgba(16, 22, 26, 0.15);
  box-shadow: 1px 0 0 rgba(16, 22, 26, 0.15);
  background-color: #fff;
  overflow-y: auto;
}
.bp3-dark .vertical-nav {
  -webkit-box-shadow: 1px 0 0 rgba(16, 22, 26, 0.4);
  box-shadow: 1px 0 0 rgba(16, 22, 26, 0.4);
  background-color: #394b59;
}
.bp3-menu.vertical-nav {
  padding: 0;
}
.vertical-nav .bp3-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding: 15px;
}
.vertical-nav li:nth-child(n) {
  border-bottom: 1px solid rgba(16, 22, 26, 0.15);
}
