@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body,
html {
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}
button a {
  color: inherit;
}
button a:hover {
  cursor: inherit;
  text-decoration: none;
  color: inherit;
}
.bp3-dark main {
  background-color: #30404d;
}
.bp3-dark .bp3-menu {
  background: #394b59;
}
.bp3-dark .bp3-popover2-content .ql-editor,
.bp3-dark .bp3-dialog .ql-editor {
  background-color: white;
  color: #182026;
}
.bp3-dark .ql-snow .ql-picker {
  color: inherit;
}
.bp3-dark .ql-snow .ql-stroke {
  stroke: rgb(245, 248, 250);
}
.bp3-dark .ql-snow .ql-fill {
  fill: rgb(245, 248, 250);
}
.bp3-dark .ql-snow .ql-picker-options {
  background-color: #293742;
}
div.bp3-input-group .bp3-button {
  min-width: 30px;
  min-height: 30px;
  margin: inherit;
  padding: inherit;
}
.app.loading {
  opacity: 0;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.app.finished-loading {
  opacity: 1;
}
@media (min-width: 768px) {
  div.bp3-card {
    margin-left: auto;
    margin-right: auto;
  }
}
.bp3-card {
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
}
.bp3-card h4 {
  padding: 16px 0;
  text-align: center;
}
.bp3-card .card-body {
  padding: 24px;
}
.bp3-card .card-body button {
  width: 100%;
}
.bp3-navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bp3-navbar img {
  height: 50px;
  margin-right: 10px;
}
img {
  max-width: 100%;
}
/* For skeleton */
.layout main {
  display: flex;
  overflow: scroll;
  width: 100%;
  min-height: calc(100vh - 60px);
}
.network-container {
  width: calc(100% - (100% / 4));
  height: calc(100vh - 60px);
  margin: auto;
  padding: 15px 25px;
}
.vertical-nav .sidebar-open {
  position: fixed;
  z-index: 10;
  left: 0;
}
.bp3-tree-node-content {
  height: 100%;
}
.bp3-tree-node-content .ql-editor {
  margin: 0;
  line-height: 1;
  margin-top: 5px;
  margin-bottom: 5px;
}
