.hidden {
  display: none;
}
.network-container-inner {
  height: 100%;
  width: 100%;
}
.network-container svg foreignObject {
  cursor: pointer;
  border-radius: 50%;
}
.network-container svg foreignObject {
  filter: brightness(90%);
}
.network-container .node-circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
